Received: (at fakecontrol) by fakecontrolmessage;
To: {$request_addr}
From: {$requester}
Subject: Internal Control
Message-Id: {$action}
Date: {$date}
User-Agent: Fakemail v42.6.9

# A New Hope
# A long time ago, in a galaxy far, far away
# something happened.
#
# Magically this resulted in the following
# action being taken, but this fake control
# message doesn't tell you why it happened
#
# The action:
# {$action}
thanks
# This fakemail brought to you by your local debbugs
# administrator
