Your message didn't have a Package: line at the start (in the
pseudo-header following the real mail header), or didn't have a
pseudo-header at all.  Your message has been filed under junk but
otherwise ignored.

This makes it much harder for us to categorise and deal with your
problem report. Please _resubmit_ your report to {$baddress}\@{$config{email_domain}}
and tell us which package the report is on. For help, check out
http://{$config{web_domain}}/Reporting{$config{html_suffix}}.

Your message was dated {$date} and had
message-id {$messageid}
and subject {$subject}.
The complete text of it is attached to this message.

If you need any assistance or explanation please contact {$config{maintainer_email}}.
