Your message dated {$date}
with message-id {$messageid}
has caused the {$gProject} {$gBug} report #{$ref},
regarding {$data{subject}}
to be marked as having been forwarded to the upstream software
author(s) {$data{forwarded}}

{include('mail/serious_mail_misconfiguration')}

