This is an automatic notification regarding your {$config{bug}} report
which was filed against the {$data{package}} package:

#{$data{bug_num}}: {$data{subject}}

It has been closed by {$markedby}.

Their explanation is attached below along with your original report.
If this explanation is unsatisfactory and you have not received a
better one in a separate message then please contact {$markedby} by
replying to this email.

