Your message dated {$date}
with message-id {$messageid}
and subject line {$subject}
has caused the {$config{project}} {$config{bug}} report #{$ref},
regarding {$data{subject}}
to be marked as done.

This means that you claim that the problem has been dealt with.
If this is not the case it is now your responsibility to reopen the
{$config{bug}} report if necessary, and/or fix the problem forthwith.

{include('mail/serious_mail_misconfiguration')}

