The submitter address recorded for your {$config{bug}} report
#{$data{bug_num}}: {$data{subject}}
has been changed.

The old submitter address for this report was
{$old_data{originator}}.

The new submitter address is
{$data{originator}}.

This change was made by
{$replyto}.
If it was incorrect, please contact them directly.
