<ADDRESS>{$config{maintainer}} &lt;<A HREF="mailto:{$config{maintainer_email}}">{$config{maintainer_email}}</A>&gt;.
Last modified:
<!--timestamp-->{$last_modified||strftime('%c',gmtime)}<!--end timestamp-->; 
Machine Name:
<!--machinename-->{$config{machine_name}||'Unknown'}<!--machinename-->
<P>
<A HREF="{$config{web_domain}}/">{$config{project}} {$config{bug}} tracking system</A>
</p>
<p>
  Debbugs is free software and licensed under the terms of the GNU
  Public License version 2. The current version can be obtained
  from <a href="https://bugs.debian.org/source/">https://bugs.debian.org/source/</a>.
</p>
<p>
Copyright © 1999 Darren O. Benham,
1997,2003 nCipher Corporation Ltd,
1994-97 Ian Jackson,
2005-2017 Don Armstrong, and many other contributors.
</p>
</ADDRESS>
