<ADDRESS>{$config{maintainer}} &lt;<A HREF="mailto:{$config{maintainer_email}}">{$config{maintainer_email}}</A>&gt;.
Last modified:
<!--timestamp-->{$last_modified||strftime('%c',gmtime)}<!--end timestamp-->; 
Machine Name:
<!--machinename-->{$config{machine_name}||'Unknown'}<!--machinename-->
<P>
<A HREF="http://{$config{web_domain}}/">{$config{project}} {$config{bug}} tracking system</A><BR>
Copyright (C) 1999 Darren O. Benham,
1997,2003 nCipher Corporation Ltd,
1994-97 Ian Jackson.
</P>
</ADDRESS>
