<div class="pkginfo">
  <p>
{my $output ='';
 if (keys %package > 1) {
 for my $package (values %package) {
     $output .= q(<b>Maintainer for ). $package->{package}. q(:</b> ).
                package_links(maintainer => $package->{maintainer});
 $output .= q(<br>);
 }
 } else {
 for my $package (values %package) {
     $output .= q(<b>Maintainer:</b> ).
                package_links(maintainer => $package->{maintainer});
 }}
 $output;
}</p>
</div>
