{include(q(html/pre_title))}#{$bug_num} - {html_escape($status{subject})} - {html_escape($config{project})} {html_escape($config{bug})} report logs{include(q(html/post_title.tmpl))}
<link rel="canonical" href="{html_escape(bug_links{bug=>$bug_numsubject})}">
<script type="text/javascript">
<!--
function toggle_infmessages()
\{
        allDivs=document.getElementsByTagName("div");
        for (var i = 0 ; i < allDivs.length ; i++ )
        \{
                if (allDivs[i].className == "infmessage")
                \{
                        allDivs[i].style.display=(allDivs[i].style.display == 'none' | allDivs[i].style.display == '') ? 'block' : 'none';
                \}
        \}
\}
-->
</script>
</head>
<body>
<h1>{html_escape($config{project})} {html_escape($config{bug})} report logs - 
<a href="mailto:{$bug_num}@{html_escape($config{email_domain})}">#{$bug_num}</a><br>
{html_escape($status{subject})}</h1>
<div class="versiongraph">{$version_graph}</div>
{include(q(cgi/bugreport_pkginfo))}
{include(q(cgi/bugreport_buginfo))}
{ my $output = '';
  if (looks_like_number($msg)) {
     $output .= sprintf qq(<p><a href="%s">Full log</a></p>),html_escape(bug_links(bug=>$bug_num,links_only=>1));
  }
  else {
     if (not $status{archived}) {
     	$output .=  qq(<p><a href="mailto:$bug_num\@$config{email_domain}">Reply</a> ).
	   qq(or <a href="mailto:$bug_num-subscribe\@$config{email_domain}">subscribe</a> ).
	       qq(to this bug.</p>\n);
     }
     $output .=  qq(<p><a href="javascript:toggle_infmessages();">Toggle useless messages</a></p>);
     $output .= sprintf qq(<div class="msgreceived"><p>View this report as an <a href="%s">mbox folder</a>, ).
	  qq(<a href="%s">status mbox</a>, <a href="%s">maintainer mbox</a></p></div>\n),
	       html_escape(bug_links(bug=>$bug_num, links_only=>1,options=>{mbox=>'yes'})),
		    html_escape(bug_links(bug=>$bug_num, links_only=>1,options=>{mbox=>'yes',mboxstatus=>'yes'})),
			 html_escape(bug_links(bug=>$bug_num, links_only=>1,options=>{mbox=>'yes',mboxmaint=>'yes'}));
  }
  $output;
}
{$log}
<hr>
<p class="msgreceived">Send a report that <a href="{$config{cgi_domain}}/bugspam.cgi?bug={$bug_num}">this bug log contains spam</a>.</p>
<hr>
{include(q(html/html_tail))}
</body>
</html>
