<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head><title>#{$bug_num} - {$config{project}} {$config{bug}} report logs</title></head>
<body>
<h1>{$config{project}} {$config{bug}} report logs - #{$bug_num}</h1>
<p>There is no record of {$config{bug}} #{$bug_num}.
Try the <a href="{$config{web_domain}}/">search page</a> instead.</p>
{#include('html/html_tail')}
</body></html>
