<form method="GET">
<input type="hidden" name="_fo_combine_key_fo_searchkey_value_fo_searchvalue" value="1">
<input type="hidden" name="form_options" value="1">
<table class="forms">
<tr><td><h2>Select bugs</h2>
</td>
<td>
{ my $output = '';
our $value_index = 0;
our $search = '';
our $search_value = '';
for my $key (@search_key_order){
   if (exists $param{$key}){
        for my $value (make_list($param{$key})){
           $search = $key;
	   $search_value = $value;
      	   $output .= include('cgi/pkgreport_options_search_key');
	   $output .= '<br>';
	   $value_index++;
        }
   }
 }
 $search = '';
 $search_value = '';
 $output;
}
{include('cgi/pkgreport_options_search_key')}
</td>
<td>
<p>The same search fields are ORed, different fields are ANDed.</p>
<p>Valid severities are {$config{show_severities}}</p>
<p>Valid tags are {join(', ',@{$config{tags}})}</p>
</td>
</tr>
<tr><td><h2>Include Bugs</h2></td>
<td>{our $incexc = 'include';
include('cgi/pkgreport_options_include_exclude');
}</td>
<td></td>
</tr>
<tr><td><h2>Exclude Bugs</h2></td>
<td>
{our $incexc = 'exclude';
include('cgi/pkgreport_options_include_exclude');
}
</td>
<td></td>
</tr>
<tr><td><h2>Categorize/<wbr>Order using</h2></td>
<td><select name="ordering">{ my $output = '';
  for my $order (@{$param{orderings}}) {
    $output .= '<option value="'.$order.'"'.(($order eq $param{ordering})?' selected':'').
     ">$order</option>\n";
  }
$output;
}</td>
<td></td>
</tr>
<tr><td><h2>Misc options</h2></td>
<td>
<input type="checkbox" name="repeatmerged" {exists $param{repeatmerged} and $param{repeatmerged}?' checked':''}> Repeat Merged<br>
<input type="checkbox" name="bug-rev" {exists $param{"bug-rev"} and $param{"bug-rev"}?' checked':''}> Reverse Bugs<br>
<input type="checkbox" name="pend-rev" {exists $param{"pend-rev"} and $param{"pend-rev"}?' checked':''}> Reverse Pending<br>
<input type="checkbox" name="sev-rev" {exists $param{"sev-rev"} and $param{"sev-rev"}?' checked':''}> Reverse Severity<br>
<input type="checkbox" name="noaffects" {exists $param{"noaffects"} and $param{"noaffects"}?' checked':''}> No Bugs which affect packages<br>
<select name="dist">
{output_select_options(['' => 'None',
                        map {($_,$_)} @{$config{distributions}},
                       ],$param{dist}||'')
}</select><br>
<select name="archive">
{output_select_options([0 => 'Unarchived',
                        1 => 'Archived', 
                        both => 'Archived and Unarchived',
                       ],$param{archive}||0)
}</select><br>
<a href="javascript:toggle_extra_status_visible()">Toggle all extra information</a>
</td>
</tr>
<tr><td><h2>Submit</h2></td><td colspan=2>
<input type="submit" name="submit" value="Submit">
</td></tr>
</table>


